<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/app.js"></script>
    </head>        
    <body>
        <div class="main-content">
        {{>header}}
        <div>
        <p>{{errorMsg}}</p>
        </div>
        </div>
        {{>footer}}
        </body>
</html>