<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
        <body>
            <div class="main-content">
            {{>header}}
            <img src="img/pic1.jpeg">
            <h1>{{age}}</h1>
            </div>
            <div>
                {{>footer}}
            </div>
        </body>
</html>