<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
        <body>
            <div class="main-content">
            {{>header}}
            <p>This site was created by Raghu ,It uses data from weatherstack and mapbox</p>
            <img src="img/pic1.jpeg">
            </div>
            <div>
                {{>footer}}
            </div>
        </body>
</html>